# Supabase Configuration
# Replace these with your actual Supabase project URL and anon public key:
SUPABASE_URL=https://tyuogpbtxudhtxhfmezm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_qOC4hvCWUdqOyHunlBLXCg_pvUvtb4E
SUPABASE_SECRET_KEY=sb_secret_2QGkP4D7bwezsnjOGtcbrA_g3SZeN5F
SUPABASE_JWKS_URL=https://tyuogpbtxudhtxhfmezm.supabase.co/auth/v1/.well-known/jwks.json